/*
===========================
    Common Css
===========================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container {
    display: block;
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}
#donation-button {
    background-color: #FF5959;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    letter-spacing: 1px;
}
#sub-heading {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.pragraph-text {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 15px 0;
    color: #7C7C7C;
}
/*
===========================
    Banner Section 
===========================
*/
.banner-wrapper {
    background: linear-gradient(rgba(30, 30, 30, 0.3),rgb(18, 18, 18, 0.7)), url('../images/banner.jpg') no-repeat fixed;
    background-size: cover;
    background-position: 100% 65%;
    color : #fff;
    padding: 150px 0;
}
.banner-wrapper h1 {
    font-weight: 900;
    font-size: 50px;
}
.banner-wrapper p {
    color: #decdcd;
}


/*
===========================
    Donate Today Section 
===========================
*/
.donate-today-bg {
    background-color: #fff;
    padding: 120px 0 0 0;
}
.donate-today-bg .donation {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.donate-today-bg .donation .donation-amount {
    font-weight: 700;
    font-size: 25px;
    color: #707070;
    background-color: #f8f5f5;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
}
.donate-today-bg .donation .active {
    border: 2px solid #FF5959;
    color: #FF5959;
    background-color: #edeaea;
}
.donate-today-bg #donation-input {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 580px;
    border: none;
    border-bottom: 1px solid #DADADA;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding: 5px 0;
}

/*
===========================
    Donate Plan Section 
===========================
*/
.donate-plan-bg {
    background-color: #fff;
    padding: 120px 0;
}
.donate-plan-bg .donation-bg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.donate-plan-bg .donation-bg .donation-card {
    display: block;
    width: 350px;
    text-align: left;
    padding: 50px 20px;
    background-color: #EDF5F6;
}
.donate-plan-bg .donation-bg  .second-card {
    margin: 0 25px;
}
.donate-plan-bg .donation-bg .donation-card img {
    height: 50px;
    width: 50px;
}
.donate-plan-bg .donation-bg .donation-card h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}

/*
===========================
    Form Section 
===========================
*/

.form-bg {
    background-color: #fff;
    padding-bottom: 100px;
}
.form-bg .form {
    background-color: #FFF4D6;
    display: block;
    margin: 0 auto;
    width: 900px;
    padding: 60px;
    margin-top: 50px;
}
.form-bg .form input {
    border: none;
    background-color: #D9D9D9;
    color: #AA9F9F;
    padding: 15px 0 15px 15px;
    width: 300px;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form-bg .form label {
    background-color: #FF5959;
    display: inline-block;
    padding: 15px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    letter-spacing: 1px;
    margin-left: -4px;
}

/*
===========================
    Donation Post Section 
===========================
*/

.donation-post-bg {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.donation-post-bg .donation-post {
    width: 500px;
    margin:0 15px 150px 15px;
    display: block;
    box-shadow: 5px 5px 10px #000;
    border-radius: 5px;
}
.donation-post-bg .donation-post img {
    max-width: 100%;
    width: 500px;
    height: 300px;
}
.donation-post-bg .donation-post h3 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}


/*
===========================
    Footer Section 
===========================
*/
.footer-bg {
    background-color: #000;
    padding: 50px 0;
    text-align: center;
}
.footer-bg h3 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 36px;
}